:root {
    --article-line-clamp: 3;
    --primary-color: #0D1946;
    --primary-color-hsl: 231, 65%, 27%;
    --primary-color-light: #1E2E7A;
    --primary-color-dark: rgb(7, 14, 53);
    --secondary-color: #F0D0AD;
    --secondary-color-hsl: 30, 67%, 78%;
    --tertiary-color: #f16166;
}

body {
    background: #fff;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    margin: 0;
    max-width: 100%;
    height: auto;
    margin: 1rem 0;
}

a:has(img) {
    cursor: pointer;
}

p,
li {
    font-family: "Lexend Deca",
        sans-serif;
    font-size: 18px;
}

p span,
span {
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lexend Deca",
        sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
}

.text-center {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

nav {
    padding: 10px 65px;
    background-color: var(--primary-color);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 85px;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
}

nav a:hover,
nav a.dropdown-active {
    border-bottom: var(--secondary-color) 2px solid;
}

.logo {
    text-transform: uppercase;
    font-family: "Century Gothic";
    color: #fff;
    margin: 0 !important;
}

.logo img {
    height: 55px;
    width: auto;
    max-width: unset;
    margin: 0;
}

.nav-list {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2.5rem;
    list-style: none;
}

.nav-list li {
    margin-left: 30px;
}

.nav-list li a {
    text-decoration: none;
    font-size: 22px;
    font-family: Source Sans Pro;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--secondary-color);
    transition: none !important;
}

.nav-list-active {
    border-bottom: var(--secondary-color) 2px solid;
}

#hamburger-toggle {
    display: none;
}

.hamburger {
    width: 30px;
    height: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 25px;
}

.hamburger .bar {
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color: var(--secondary-color);
    position: relative;
    transition: all 0.3s;
}

.hamburger .bar::before,
.hamburger .bar::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    transition: all 0.3s;
}

.hamburger .bar::before {
    transform: translateY(-10px);
}

.hamburger .bar::after {
    transform: translateY(10px);
}

.nav-back {
    display: none;
    position: absolute;
    left: 25px;
    color: var(--secondary-color);
    z-index: 999;
}

.nav-back svg {
    width: 35px;
    height: 35px;
    stroke-width: 1.5px;
}

.nav-list-mobile-dropdown {
    display: none;
}

@media (max-width: 1450px) {
    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--primary-color);
        display: flex;
        flex-direction: column !important;
        justify-content: start;
        align-items: center;
        gap: 0rem;
        padding-top: 85px;
        transform: translateX(-100%);
        transition: transform 0.3s;
    }

    .nav-list li {
        margin: 10px 0;
    }

    .nav-list li a {
        display: inline-block;
        font-family: "Lexend Deca",
            sans-serif;
        font-size: 1.5rem;
        font-weight: 500;
        padding: 15px 20px;
        transition: all 0.3s;
    }

    .nav-list li a:hover {
        background-color: var(--secondary-color);
        color: var(--primary-color);
    }

    .nav-list li a:not(.nav-list-active):hover {
        border-bottom: none;
    }

    .hamburger {
        display: flex;
        z-index: 999;
    }

    #hamburger-toggle:checked~.nav-list:not(.nav-list-mobile-dropdown) {
        transform: none;
    }

    #hamburger-toggle:checked~.nav-list.nav-list-mobile-dropdown.dropdown-active {
        transform: none;
    }

    #hamburger-toggle:checked~.nav-list.nav-list-mobile-dropdown.dropdown-active~.nav-back {
        display: block;
    }

    #hamburger-toggle:checked~.hamburger .bar::before {
        transform: rotate(45deg);
    }

    #hamburger-toggle:checked~.hamburger .bar {
        background-color: transparent;
    }

    #hamburger-toggle:checked~.hamburger .bar::after {
        transform: rotate(-45deg);
    }

    nav {
        padding: 20px 35px;
        max-height: 80px;
    }

    body:has(#hamburger-toggle:checked) {
        overflow: hidden;
    }
}

/* Sizing */
/* Div sizing */

@media (min-width: 768px) {
    .col-1 {
        max-width: 8.33%;
        flex: 0 0 8.33%;
    }

    .col-2 {
        max-width: 16.66%;
        flex: 0 0 16.66%;
    }

    .col-3 {
        max-width: 25%;
        flex: 0 0 25%;
    }

    .col-4 {
        max-width: 33.33%;
        flex: 0 0 33.33%;
    }

    .col-5 {
        max-width: 41.66%;
        flex: 0 0 41.66%;
    }

    .col-6 {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .col-7 {
        max-width: 58.33%;
        flex: 0 0 58.33%;
    }

    .col-8 {
        max-width: 66.66%;
        flex: 0 0 66.66%;
    }

    .col-9 {
        max-width: 75%;
        flex: 0 0 75%;
    }

    .col-10 {
        max-width: 83.33%;
        flex: 0 0 83.33%;
    }

    .col-11 {
        max-width: 91.66%;
        flex: 0 0 91.66%;
    }

    .col-12 {
        max-width: 100%;
        flex: 0 0 100%;
    }
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.center {
    margin: 0 auto;
}

/* Section */
@media(min-width: 576px) {
    .section {
        max-width: 540px;
    }

    .section:has(.col-6) .btn {
        width: 100% !important;
    }
}

@media(max-width: 768px) {
    .section.article .article-content {
        padding-block: 0rem !important;
    }
}

@media(min-width: 768px) {
    .section {
        max-width: 720px;
    }

    .section:has(.col-6) .btn {
        width: unset !important;
    }
}

@media(min-width: 992px) {
    .section {
        max-width: 960px;
    }
}

@media(min-width: 1200px) {
    .section {
        max-width: 1140px;
    }
}

.section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
}

.section>div {
    padding-inline: 15px;
}

.section-header {
    font-size: 1.5rem;
    font-family: "Lexend Deca",
        sans-serif;
    font-weight: 700;
    color: var(--primary-color);
    text-transform: uppercase;
    line-height: 120%;
    margin-bottom: 1rem;
}

.section p {
    font-size: 1.125rem;
    font-family: "Lexend Deca",
        sans-serif;
    font-weight: 400;
    color: var(--primary-color);
    line-height: 140%;
    margin-bottom: 1rem;
}

.section .btn {
    margin-top: .5rem;
    font-size: 1rem;
    font-weight: 500;
}

/* Button */
.btn {
    -webkit-appearance: none;
    font-size: 1.125rem;
    font-family: "Lexend Deca",
        sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: all .15s;
}

.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-color);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    color: var(--secondary-color);
    font-family: "Lexend Deca",
        sans-serif;
}

.btn-primary:hover {
    background-color: var(--primary-color-light);
}

.btn-secondary {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.btn-lg {
    padding: 10px 40px;
    font-weight: 400;
}

/* Loader */
.loader {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(4px);
    /* Safari backdrop-filter fix */
    -webkit-backdrop-filter: blur(4px);
    -moz-backdrop-filter: blur(4px);
    -o-backdrop-filter: blur(4px);
    -ms-backdrop-filter: blur(4px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader.small {
    position: relative;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    -moz-backdrop-filter: none;
    -o-backdrop-filter: none;
    -ms-backdrop-filter: none;
}

.loader.close {
    pointer-events: none;
    opacity: 0;
    transition: all .2s ease-in-out;
}

.loader svg {
    font-size: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    color: var(--primary-color);
    translate: 0 -5rem;
    animation: spin 1s linear infinite;
}

.loader.small svg {
    translate: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Nav Blocks */
.nav-blocks {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    align-items: stretch;
    gap: 2.5rem;
    padding: 0 1.5rem;
}

.nav-block {
    width: 100%;
    max-width: 350px;
    text-decoration: none;
    transition: all .15s;
}

.nav-block-top {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: end;
    width: 100%;
    height: 150px;
    padding: 1rem;
    margin-bottom: .5rem;
    background-image: var(--nav-block-image, url("../images/article2.jpg"));
    background-size: cover;
    background-position: center;
    color: var(--secondary-color);
}

.nav-block#collection .nav-block-top {
    --nav-block-image: url("../images/home-blocks/collection.jpg");
}

.nav-block#publicaties .nav-block-top {
    --nav-block-image: url("../images/home-blocks/publicaties.jpg");
}

.nav-block-top::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgb(13, 25, 70);
    background: linear-gradient(65deg, rgba(13, 25, 70, 1) 0%, rgba(13, 25, 70, 0.5) 48%, rgba(13, 25, 70, .2) 100%);
    z-index: 1;
}

.nav-block-top * {
    z-index: 2;
}

.nav-block-top h2 {
    font-size: 2rem;
}

.nav-block:nth-of-type(1),
.nav-block:nth-of-type(3) {
    justify-self: end;
}

.nav-block:nth-of-type(2),
.nav-block:nth-of-type(4) {
    justify-self: start;
}

@media (max-width: 768px) {
    .nav-blocks {
        grid-template-columns: 1fr;
    }

    .nav-block:nth-of-type(1),
    .nav-block:nth-of-type(2),
    .nav-block:nth-of-type(3),
    .nav-block:nth-of-type(4) {
        justify-self: center;
    }
}

.nav-block-bottom {
    font-size: 1.25rem;
    font-family: "Lexend Deca",
        sans-serif;
    font-weight: 500;
    color: var(--primary-color);
}

.nav-block-bottom span {
    text-transform: uppercase;
    padding: 8px 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* Articles And Activities */
.articles,
.activities {
    margin: 0 auto;
}

.articles-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
}

.articles-header h2 {
    font-size: 1.5rem;
    font-family: "Lexend Deca",
        sans-serif;
    font-weight: 700;
    line-height: 120%;
    color: var(--primary-color);
    text-transform: uppercase;
    text-align: center;
}

.articles-header::before {
    content: "";
    width: 50px;
    height: 2px;
    background-color: var(--primary-color);
    transform: translateX(-50%);
}

.articles-header::after {
    content: "";
    width: 50px;
    height: 2px;
    background-color: var(--primary-color);
    transform: translateX(50%);
}

.articles-grid {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 1rem;
}

.articles-grid-small {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.article {
    user-select: none;
    align-items: start;
    cursor: pointer;
}

.article-small {
    display: flex;
    align-content: baseline;
}

a.article {
    text-decoration: none;
    color: var(--primary-color);
}

.article-image img {
    aspect-ratio: 16/10;
    object-fit: cover;
    object-position: center;
}

.article:not(.article-small) .article-content {
    padding-block: 1.75rem;
}

.article .article-content h2 {
    text-wrap: balance;
    text-transform: capitalize;
    color: var(--primary-color);
    line-height: 120%;
}

.article:hover .article-content h2 {
    text-decoration: underline;
    text-decoration-color: var(--primary-color-light);
}

.article .article-date {
    font-size: .875rem;
    font-family: "Lexend Deca",
        sans-serif;
    font-weight: 500;
    color: var(--primary-color);
    text-transform: capitalize;
}

.article .article-content>p:first-of-type {
    margin-top: .25rem;
}

.article .article-content>p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: var(--article-line-clamp);
    line-clamp: var(--article-line-clamp);
    -webkit-box-orient: vertical;
}

.articles-footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

.articles-footer::before {
    content: "";
    width: 30px;
    height: 2px;
    background-color: var(--primary-color);
    transform: translateX(-50%);
}

.articles-footer::after {
    content: "";
    width: 30px;
    height: 2px;
    background-color: var(--primary-color);
    transform: translateX(50%);
}

/* Landing Page */
.landing {
    height: 250px;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 150px;
}

.landing:has(.landing-content h1:only-child) {
    margin-bottom: 50px;
}

.landing-background {
    position: relative;
    background-image: url("../images/map.jpg");
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: 40%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-background-overlay {
    position: absolute;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 90%);
    height: 101%;
    width: 100%;
}

.landing-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(300px, 80%, 700px);
    height: auto;
    margin: 0 auto;
    text-align: center;
    transform: translateY(-60%);
}

.landing-content h1 {
    font-size: clamp(1.75rem, 5vw, 2.25rem);
    font-family: "Lexend Deca",
        sans-serif;
    font-weight: 700;
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 20px;
}

.landing-content p {
    transform: translateY(-16px);
}

.hidden {
    display: none;
}

/* Input */
input,
textarea {
    display: flex;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    flex-direction: column;
    border: 1px solid var(--primary-color);
    padding: .25rem .75rem;
    width: 100%;
    height: 2.25rem;
    font-size: 1rem;
    font-family: "Lexend Deca",
        sans-serif;
    line-height: 1.25;
    margin-bottom: 1rem;
}

input:focus {
    border-color: var(--primary-color-light);
}

label {
    display: block;
    font-size: 1rem;
    font-family: "Lexend Deca",
        sans-serif;
    font-weight: 500;
    color: var(--primary-color);
    padding-bottom: .25rem;
}

textarea {
    height: 6rem;
    resize: vertical;
}

/* Timeline */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    flex: 1;
}

.timeline .col-6 {
    padding: 0;
}

.timeline .row {
    margin: 0;
}

.timeline .row .col-md-6 {
    padding-left: 0;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: var(--primary-color);
    border-radius: 1rem 1rem 0 0;
    top: 20px;
    bottom: 0;
    left: calc(50% - 3px);
}

.timeline-item {
    margin-top: 2rem;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.timeline-item::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    right: -13.5px;
    background-color: white;
    border: 4px solid var(--secondary-color);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.timeline-left {
    left: 0;
    text-align: right;
}

.timeline-right {
    left: 50%;
}

.timeline-right::after {
    left: -14px;
}

.timeline-content {
    margin-top: calc(-2% + 15px);
    padding: 20px 30px;
    background-color: white;
    position: relative;
}

.timeline-content .timeline-image {
    position: relative;
    width: 70%;
    overflow: hidden;
    margin: 0 auto 1rem;
}

.timeline-content .timeline-date {
    font-size: 1rem;
    font-family: "Lexend Deca",
        sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--primary-color);
}

.timeline-content h3 {
    line-height: 120%;
}

.timeline-content h3:has(.timeline-tag) {
    align-items: center;
    margin-bottom: .5rem;
}

.timeline-content h3 .timeline-tag {
    width: fit-content;
    font-size: 1rem;
    font-family: "Lexend Deca",
        sans-serif;
    padding: 3px 10px;
    margin-inline: 5px;
    background-color: var(--tertiary-color);
    color: #fff;
}

.timeline-content p {
    line-height: 140%;
    font-size: 1rem;
    color: var(--primary-color);
}

/* Tabs */
.tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: fit-content;
    width: 300px;
    background-color: var(--secondary-color);
    padding: 2px;
}

.tab {
    padding: 10px 20px;
    font-size: 1rem;
    font-family: "Lexend Deca",
        sans-serif;
    font-weight: 500;
    color: var(--primary-color);
    text-transform: uppercase;
    cursor: pointer;
    transition: all .15s;
}

.tab:not(.tab-active):hover {
    background-color: var(--primary-color-light);
    color: var(--secondary-color);
}

.tab-active {
    background-color: var(--primary-color);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    color: var(--secondary-color);
}

.tabs-evenly .tab {
    flex: 1;
}

.panel {
    display: none;
}

.panel-active {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 600px) {

    .timeline::after {
        left: 31px;
    }

    .timeline-item {
        width: 100%;
        padding-left: 50px;
        padding-right: 0px;
    }

    .timeline-left::after,
    .timeline-right::after {
        left: 18px;
    }

    .timeline-left {
        text-align: left;
    }

    .timeline-right {
        left: 0%;
    }

    .timeline-image {
        width: 80% !important;
    }
}


/* Share */
.share {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 2rem;
    padding: 1rem;
    gap: 2rem;
    width: 100%;
    background-color: var(--primary-color);
}

.share a {
    cursor: pointer;
}

.share a i {
    font-size: 1.5rem;
    color: var(--secondary-color);
}

@media (max-width: 350px) {
    .share a i {
        font-size: 1.25rem;
    }
}

@media (max-width: 315px) {
    .share a i {
        font-size: 1.1rem;
    }
}

/* Form Section */
.form-section {
    background-color: var(--secondary-color);
    margin-block: 5rem;
}

.form-section-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 800px;
    padding: 2rem 1rem;
    text-align: center;
}

.form-section-content h2 {
    font-size: 1.5rem;
    font-family: "Lexend Deca",
        sans-serif;
    font-weight: 700;
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: .25rem;
}

.form-section-content p {
    margin-bottom: 1rem;
}

.form-section-content input {
    max-width: 500px;
    margin-inline: auto;
}

/* Footer */
footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin-top: 4rem;
}

footer h2 {
    font-size: 1.25rem;
    font-family: "Lexend Deca",
        sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--secondary-color);
    margin-bottom: .5rem;
}

footer p {
    font-size: 1rem;
    font-family: "Lexend Deca",
        sans-serif;
    font-weight: 300;
    line-height: 140%;
}

footer img {
    width: 150px;
}

@media (max-width: 500px) {
    footer img {
        width: 100px;
    }

    footer h2 {
        font-size: 1rem;
    }
}

footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    padding: 2rem 2.5rem;
}

footer .footer-content .footer-content-left {
    display: flex;
    align-items: center;
}

footer .footer-content .footer-content-right {
    flex: 0 1 220px;
    text-align: right;
}

footer .footer-content .footer-content-left h2 {
    width: 250px;
}

@media (max-width: 715px) {
    footer .footer-content {
        flex-direction: column;
        justify-content: center;
    }

    footer .footer-content .footer-content-right {
        text-align: center !important;
    }
}

.footer-bottom {
    text-align: center;
    background-color: var(--primary-color-dark);
    color: var(--secondary-color);
    font-size: .875rem;
    font-weight: 300;
    padding: 1rem 2.5rem;
}

.footer-bottom a {
    color: var(--secondary-color);
}

.footer-bottom #footer-year {
    font-weight: 300;
}